.banner {
  text-align: center
}

.header {
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
}

.slash {
  color: lightskyblue;
}